<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Blocipedia</h1>
          <p class="lead">A Bloc Wiki.</p>
          <a href="/users/signup" class="btn btn-primary btn-lg">Sign up</a>
        </header>

      </main>
   
      <% include ./partials/baseScripts.ejs %>

     
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    </body>
</html>