<!DOCTYPE html>
<html lang ="en">
	<head>
		<% include ../static/partials/head.ejs %>
	</head>
	<body>
		<% include ../static/partials/navbar.ejs %>
	<main class = "container">

	<% include ../static/partials/messages.ejs %>
		 
		 <% if(currentUser && currentUser.role == "Standard") { %>
            <h1>Sign up for premium membership</h1>

           <form action="/users/<%=currentUser.id%>/upgrade" method="POST">
  			
  			<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    			data-key="<%=publishableKey%>"
    			data-amount="1500"
    			data-name="Demo Site"
    			data-description="Blocipedia Premium Membership"
    			data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    			data-locale="auto">
  			</script>

			</form>
		<% } %>

		<% if(currentUser && currentUser.role == "premium") { %>
			<h1>Sorry to see you aren't enjoying premium membership</h1>
            <p>Are you sure you want to downgrade?</p> 

            </ul>
			<form action="/users/<%=currentUser.id%>/downgrade" method="POST"> 
				<button type="submit" class="btn btn-danger">Downgrade to free membership</button>
			</form>
		<% } %>

	</main>
	<% include ../static/partials/baseScripts.ejs %>
	</body>
</html>